<div class="panel panel-default">
  <div class="panel-heading">
    <h4>All Users</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <% @users.each do |user| %>
          <div class="media">
            <div class="media-body">
              <h5 class="media-heading">
                <% unless user.name.nil? || user.name.empty? %>
                  <%= user.name %> - 
                <% end %>
                <%= user.email %> 
              </h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
