<h3>What is it?</h3>
<p>Blocipedia is a Ruby on Rails application that allows users to create wikis and collaborate on other wikis. Users can pay to upgrade their membership, 
allowing them to view and create private wikis.</p>
