<div class="panel panel-default">
  <div class="panel-heading">
    <h4>About Blocipedia</h4>
  </div>
  <div class="panel-body">
    <p>Blocipedia is a Ruby on Rails application that allows users to create wikis and collaborate on other wikis. Users can pay to upgrade their membership, 
 allowing them to view and create private wikis.<br> 
 Users can create a standard account in order to create, edit, and collaborate on public wikis using Markdown syntax. Anyone can view public wikis.<br>
 Users can pay to upgrade their account to Premium in order to view and create private wikis.<br>
 Premium users can allow others to view and collaborate on the private wikis they create.<br>
 Premium users can downgrade their account back to Standard.
    </p>
  </div>
</div>