<br>
 <div class="jumbotron">
   <h2>Blocipedia</h2>
   <p>An aplication that allows users to create public and private Markdown-based wikis.</p>
   <p>
     <% if user_signed_in? %>  
       <% if current_user.standard? %>
         Upgrade to membership to premium.  <%= link_to 'Click', new_charge_path, class: "btn btn-primary"%> for special offer today! 
       <% end %>
     <% else %>
       <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
     <% end %>
   </p>
 </div>
 
 <div class="row">
   <div class="col-md-4">
     <h3>Solves world hunger</h3>
     <p>Blocipedia will deliver food and water to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h3>Eliminates poverty</h3>
     <p>Blocipedia will deliver money and education to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h3>Makes you better looking</h3>
     <p>Blocipedia will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>
