<h3>My Wiki</h3>
<div class="row">
  <div class="col-md-8">
    <p class="text-info"><small>
      <%= pluralize(@wikis.count, "wiki") %> by <%= getUser(current_user.id) %><br />
    </small></p>  
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %> 
            <small> - created <%= time_ago_in_words(wiki.created_at) %> ago</small>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
